
<html>
<head>

<title>STUDENT REGISTRATION FORM</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
 
  <h1>INTERNSHIP REGISTRATION FORM</h1>
  <form action="connect.php" method="post" ></form>
  <div class="con">

  <table align="center" cellpadding = "10">
    <tr>
      <td>Email Address</td>
      <td colspan="4"><input name="email" type="text" size="62"></td>
    </tr>
    <tr>
      <td>First Name</td>
      <td><input name="firstName" type="text" /></td>
      <td>Last Name</td>
      <td><input name="lastName" type="text" /></td>
    </tr>
  
   <tr>
      <td>Guardian Name</td>
      <td><input name="guardianName" type="text" /></td>
      <td>Age</td>
      <td><input name="age" type="text" /></td>
    </tr>
      <tr>
        <td>Date Of Birth</td>
        <td>
         <input type="date" id="birthDay" name="birthday">
        </td>
    
    <tr>
      <td>Gender</td>
      <td><select name="gender">
      <option>Male</option>
       <option>Female</option>
      </select></td>
      <td>Blood Group</td>
      <td><input name="bloodgroup" type="text" /></td>
    </tr>
    <tr>
      <td>Height</td>
      <td><input name="height" type="text" /></td>
      <td>Weight</td>
      <td><input name="weight" type="text" /></td>
    </tr>
    <tr>
      <td>Name Of College/Campus</td>
      <td colspan="4"><input name="collegename" type="text" size="62"></td>
    </tr>
    <tr>
      <td>Major Subject</td>
      <td><input name="majorsubject" type="text" /></td>
      <td>Student Id Number</td>
      <td><input name="studentidno" type="text" /></td>
    </tr>
    <tr>
      <td>Running Year</td>
      <td><select name="running year">
      <option>1st</option>
       <option>2nd</option>
       <option>3rd</option>
       <option>4th</option>
      </select></td>
    </tr>
    <tr>
      <td>Expected Graduation Year</td>
      <td>
        <input type="date" id="graduation_year" name="graduationyear">
       </td>
       </tr>
       <tr>
       <td>Food</td>
       <td><select name="food">
        <option>vegeterian</option>
         <option>non-vegeterian</option>
        </select></td>
      </tr>
      <tr>
        <td>Food Allergies</td>
        <td><select name="foodallergies">
         <option>yes</option>
          <option>no</option>
         </select></td>
         <td>If Yes(Food Name)</td>
         <td><input name="foodname" type="text" /></td>
       </tr>
       <tr>
        <td>Phone Number</td>
        <td><input name="phonemumber" type="number" /></td>
        <td>Passport Number</td>
        <td><input name="passportnumber" type="number" /></td>
       </tr>
       <tr>
        <td>Permanent Address</td>
        <td colspan="4"><input name="permanentaddress" type="text" size="62"></td>
       </tr>
       <tr>
        <td>Temporary Address</td>
        <td colspan="4"><input name="temporaryaddress" type="text" size="62"></td>
       </tr>
       <tr>
        <td>Father's  Name</td>
        <td><input name="fathersname" type="text" /></td>
        <td>Father's Tel No</td>
        <td><input name="fathersnumber" type="number" /></td>
      </tr>
      <tr>
        <td>Mother's  Name</td>
        <td><input name="mothersname" type="text" /></td>
        <td>Mother's Tel No</td>
        <td><input name="mothersnumber" type="number" /></td>
      </tr>
      <tr>
        <td>Part Time Job(Description)</td>
        <td colspan="4"><textarea name="parttimejob" cols="53" rows="5"></textarea></td>
      </tr>
      <tr>
        <td>From</td>
        <td>
        <input type="date" id="job_from" name="jobfrom">
      </td>
      <td>To</td>
        <td>
        <input type="date" id="job_from" name="jobto">
      </td>
      </tr>
      <tr>
        <td>Hobbies</td>
        <td colspan="3"><textarea name="hobbies" cols="30" rows="3"></textarea></td>
      </tr>
      <tr>
        <td>Spoken Languages</td>
        <td colspan="3"><textarea name="spokenlanguage" cols="30" rows="3"></textarea></td>
      </tr>
      <tr>
        <td>Language Test</td>
        <td><select name="languagetest">
          <option>TOFEL</option>
           <option>SAT</option>
           <option>IELTS</option>
           <option>EPS</option>
          </select></td>
      </tr>
      <tr>
        <td>Photo</td>
        <td><input type="file" id="myfile" name="photo"></td>
      </tr>
      <tr>
        <td>Passport</td>
        <td><input type="file" id="myfile" name="passport"></td>
      </tr>
      <tr>
        <td>Citizenship(front-side)</td>
        <td><input type="file" id="myfile" name="Citizenshipfront"></td>
      </tr>
      <tr>
        <td>Citizenship(back-side)</td>
        <td><input type="file" id="myfile" name="Citizenshipback"></td>
      </tr>

    
    <tr>
      <td>Internship In Japan,Why?(In Few Lines)</td>
      <td colspan="5"><textarea name="iternshipwhy" cols="60" rows="6"></textarea></td>
    </tr>
    
    
    <tr>
      <td></td>
      <td colspan="4"><input name="submit" type="submit" value="Submit" class="submit"></td>
      
    </tr>
 </form>
 </table>
 </div>
</body>
</html>
